<% include ../partials/header %>

<div class="container">
    
        <div class="container">
            <h2 class="text-center">Add a comment to <%= camp.name %> </h2>
            <form action="/campgrounds/<%= camp._id %>/comments" method="POST">
                <div class="form-group">
                    <label for="text">Comment</label>
                    <input type="text" placeholder="Type Comment Here" name="comment[text]" class="form-control input-lg" id="text">
                </div>
               
                    <button class="btn btn-success btn-block btn-lg">Submit Comment</button>
                    <a href="/campgrounds/<%= camp._id %>" class="btn btn-danger btn-block btn-lg">Cancel</a>
                       
            </form>    
        </div>    
    
   
</div>

<% include ../partials/footer %>

