<% include ../partials/header %>

<div class="container">
    
        <div class="container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" placeholder="User Name" name="username" class="form-control" id="username">
                    </div>
                                  
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group input-group-lg">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" placeholder="Password" name="password" class="form-control" id="password">
                    </div>
                    
                </div>
                
                    <button class="btn btn-success btn-lg btn-block">Login</button>
                    <a href="/campgrounds" class="btn btn-danger btn-lg btn-block">Cancel</a>
                </div>        
           
               
        </div>    
    
     
    
</div>

<% include ../partials/footer %>

